[Unit]
Description=To start sslstrip on startup
Wants=network-online.target
After=network-online.target

[Install]
WantedBy=multi-user.target

[Service]
Type=idle
RemainAfterExit=yes
ExecStart=/root/start-sslstrip-on-boot/start-sslstrip.sh
